$black-color: #1e293b;
$lightblack-color: #475569;
$gray-color: #cbd5e1;
$blue-color: #1890ff;
$green-color: #059669;
$success-color: #00c18d;
$info-color: #14b2e2;
$warning-color: #fca522;
$error-color: #e54d42;
$background-dark: #2a2b32;
$white-text: #d1d5db;
