/* Color Library */

:root {
  /* Basic */
  --white: #ffffff;
  --black: #1e293b;

  /* Blue Gray */
  --bluegray-50: #f8fafc;
  --bluegray-100: #f1f5f9;
  --bluegray-200: #e2e8f0;
  --bluegray-300: #cbd5e1;
  --bluegray-400: #94a3b8;
  --bluegray-500: #64748b;
  --bluegray-600: #475569;
  --bluegray-700: #334155;
  --bluegray-800: #1e293b;
  --bluegray-900: #0f172a;

  /* Cool Gray */
  --coolgray-50: #f9fafb;
  --coolgray-100: #f3f4f6;
  --coolgray-200: #e5e7eb;
  --coolgray-300: #d1d5db;
  --coolgray-400: #9ca3af;
  --coolgray-500: #6b7280;
  --coolgray-600: #4b5563;
  --coolgray-700: #374151;
  --coolgray-800: #1f2937;
  --coolgray-900: #111827;

  /* Gray */
  --gray-50: #fafafa;
  --gray-100: #f4f4f5;
  --gray-200: #e4e4e7;
  --gray-300: #d4d4d8;
  --gray-400: #a1a1aa;
  --gray-500: #71717a;
  --gray-600: #52525b;
  --gray-700: #3f3f46;
  --gray-800: #27272a;
  --gray-900: #18181b;

  /* Red */
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;

  /* Orange */
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;

  /* Yellow */
  --yellow-50: #fefce8;
  --yeloow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;

  /* Green */
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;

  /* Emerald */
  --emerald-50: #ecfdf5;
  --emerald-100: #d1fae5;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --emerald-800: #065f46;
  --emerald-900: #064e3b;

  /* Blue */
  --blue-50: #eff6ff;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-300: #93c5fd;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --blue-700: #1d4ed8;
  --blue-800: #1e40af;
  --blue-900: #1e3a8a;

  /* Light Blue */
  --lightblue-50: #f0f9ff;
  --lightblue-100: #e0f2fe;
  --lightblue-200: #bae6fd;
  --lightblue-300: #7dd3fc;
  --lightblue-400: #38bdf8;
  --lightblue-500: #0ea5e9;
  --lightblue-600: #0284c7;
  --lightblue-700: #0369a1;
  --lightblue-800: #075985;
  --lightblue-900: #0c4a6e;

  /* Indigo */
  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;

  /* Violet */
  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
}
:root {
  font-size: 62.5%;

  --margin-1: 0.8rem;
  --margin-2: 1.2rem;
  --margin-3: 1.6rem;
  --margin-4: 2rem;
  --margin-5: 2.4rem;

  --padding-1: 0.8rem;
  --padding-2: 1.2rem;
  --padding-3: 1.6rem;
  --padding-4: 2rem;
  --padding-5: 2.4rem;

  --h1Min: 2.8rem;
  --h2Min: 2.2rem;
  --h3Min: 1.6rem;
  --h4Min: 1.2rem;
  --h5Min: 0.8rem;
  --h6Min: 0.6rem;
  --h7Min: 0.4rem;

  --h1Max: 3.6rem;
  --h2Max: 3rem;
  --h3Max: 2.4rem;
  --h4Max: 2rem;
  --h5Max: 1.6rem;
  --h6Max: 1.4rem;
  --h7Max: 1rem;

  --fontScaler: 6vw;
  --bodyMin: 1.2rem;
  --bodyMax: 1.6rem;
}
